
<!-- image here -->
<div class="productpic">
    <img src="/images/{{productpic}}" alt="Saje Diffuser"> 
</div>

<div class="productinfo">
    <h1>{{name}}</h1>
    <h4>{{desc}}</h4>
    <p>{{info}}</p>
</div>


