<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/"><img src="/images/sajelogo.png" alt="Saje Logo" class="sajelogo"></a>
    <img src="/images/diffuser-header.jpg" alt="Diffuser Header" class="headerpic">
    {{{body}}}
  </body>
</html>