body {
  padding: 50px;
  font-family: Futura;
  background-color: #dedede;
}

.sajelogo {
  float: left;
  width: 100px;
  margin-bottom: 20px; 
}

h1 {
  color: #494344;
  font-size: 40px;
}

h2 {
  color: #494344;
  font-size: 30px;
}

h4 {
  color: #494344;
  font-size: 25px;
}

p {
  color: #692d39;
  font-size: 18px;
}

a {
  color: #692d39;
  font-size: 18px;
  margin-right: 20px;
}

.productpic {
  width: 40%;
}

.headerpic {
  width: 100%;
}

.productinfo {
  width: 90%;
}